<div>
  <div class="bio">
    <p>Bio</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aperiam ullam quia accusantium, beatae animi ea dolores modi architecto culpa exercitationem mollitia, rem maxime illum ex odio, adipisci iusto quibusdam.
    </p>
  </div>
</div> 