<div class="bio-flex">
  <div class="bio">
    <div>
      <p><%= post.title %></p>
      <p>
        <%= link_to post.text, user_post_path(post.author, post) %>
      </p>
    </div>
    <div class="align-left">
      <p>Comments: <%= post.commentsCounter %>, Likes: <%= post.likesCounter %></p>
    </div>
  </div>
</div>