<div class="bio-flex">
  <div class="bio">
    <div>
      <p>Post #<%= post.id %></p>
      <p>
        <%= link_to post.title, user_post_path(post.author, post) %>
      </p>
    </div>
    <div class="align-left">
      <p>Comments: <%= post.commentsCounter%>5, Likes: <%= post.likesCounter?%></p>
    </div>
  </div>
</div>