<div>
  <div>
    <%= user.photo %>
  </div>
  <div 
    <h1><%= link_to user.name, user_path(user) %></h1>
    <div>
      <p>Number of posts: <%= user.postsCounter? %></p>
    </div>
  </div>
</div>