<%= render partial: "partials/user", locals: { user: @user } %>
<%= render partial: "partials/bio", locals: { user: @user } %>
<% @user.three_recent_posts.each do |post| %>
  <%= render partial: "partials/post", locals:{ post: post } %>
<% end %>
<div class="button">
  <%= link_to  @user.id.to_s + '/post', :remote => true do %>
    <input type="button" value="See all posts">
  <% end %>
</div>