<%= render partial: "partials/user", locals: { user: @user } %>
<%= render partial: "partials/bio" %>
<% @user.three_recent_posts.each do |post| %>
  <%= render partial: "partials/post", locals:{ post: post } %>
<% end %>
<div class="button">
  <button>
    <%= link_to 'See all Post', @user.id.to_s + '/post' %>
  </button>
</div>