/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  height: 100%;
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* width: 23rem; */
  margin-top: 2rem;
}

.user-border {
  border: 2px solid black;
}

.user-border h1 {
  margin: 0.5rem 1rem;
}

.user-border-p {
  margin: 0;
  text-align: right;
}

.user-width {
  width: 20rem;
}

/* users - bio */
.bio {
  width: 22rem;
  border: 2px solid black;
  margin-top: 2rem;
}

.single-post {
  border: 2px solid black;
  margin: 1rem 0;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
