/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  height: 100%;
}


.user-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  /* margin-left: 5rem; */
}

.photo-width {
  display: flex;
  width: 10%;
  height: 5.4rem;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.user-border {
  border: 2px solid black;
}

i {
  transform: scale(4);
}

.user-border h1 {
  margin: 0.5rem 1rem;
}

.user-border-p {
  margin: 0;
  text-align: right;
}

.user-width {
  width: 75%;
}

/* users - bio */

.bio-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  width: 87.3%;
  border: 2px solid black;
  margin-top: 2rem;
  /* margin-left: 2rem; */
}

.single-post {
  width: 95%;
  border: 2px solid black;
  margin: 1rem 0;
  margin-left: 2rem;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
